html {
  height:100%;
}

body {
  margin:0;
  font-family: 'Times New Roman', Times, serif;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #efe9e2 50%, #ffafb8	 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.bg-light {
background-color: #efe9e2!important; 
border-bottom: 1px solid #c0b8b8; 

}


h1 {
  font-family:'Times New Roman', Times, serif;
}

#row1 {
  
  display: flex;
	justify-content: center;
	align-items: center;
}

.col-sm {
  overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

 .card img {
	max-width: 100%;
	height: auto;
}
 .card-body {
	opacity: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10px;
	height: 90%;
	background: #fff;
	transition: all 0.5s ease;
}

a {
  text-decoration: none;
  color: #f36767; 
  font-size: 15px;
}
 .card-body p {
	transition: 0.5s ease;
	transform: scale(0, 1);

}
 .card-text {
	text-align: center;
	font-size: 15px;
	letter-spacing: 1px;
}
 .card:hover .card-body {
	opacity: 0.8;
	width: 90%;
	transition: 0.5s ease;
  align-self: center;
  vertical-align: unset;
  margin-top: 3%;
}
 .card:hover .card-body .card-text {
	transform: scale(1);
	transition: 0.5s ease;
}


.footer {
  background-color: #887a7a;
  color: #cccccc;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  border-top: solid #f36767 8px;
  position: fixed;
  bottom: 0px;
  width: 100%;
    }











/* @media screen and (max-width: 576px) {
    .title {width: 94.5%;}
     ul {text-align: center;}
   }
 

li {
    display: inline;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border-right: solid 1px #f36767;
    padding-right: 13px;
    padding-left: 13px;
}

#link {
    text-align: end;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}


ul {
    color: #f36767;  
    padding-left: 0; 
    padding-top:15px ;

}

#col{
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

#name {
    background: #f36767;
    color:#efe9e2 ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

nav{
    background:#efe9e2;
    border-bottom: solid #f36767 1px;
}
#navigation {
    width: 100%;
}

#port {
    width: 100%;
    height: auto;
    background-color: #efe9e2;
    padding-top: 13px;   
}

h2 {
    color: #f36767;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:22.5px;
    font-weight: bold; 
    }
    

img {
    width: 100%;
    }


body {
    background-color:#c0b8b8;
    margin: 0px;
    }

  
.footer {
    background-color: #887a7a;
    color: #cccccc;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    border-top: solid #f36767 8px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    }
      
hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ffafb8;
    margin: 1em 0;
    padding: 0;
    }
  
.img-fluid {
    position: relative;
    height: auto;
    padding-bottom: 25px;
    width: 100%;
    
}

.title {
    position: absolute;
    bottom: 20%;
    padding: 2% 3% 2% 3%;
    background-color: #4aaaa5;
    color: #efe9e2;
    text-align: center;
    width: 92%;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    overflow: auto;
}



#row0 {
    padding-bottom: 20px;
    padding-top: 5px;

}
col {
    padding-bottom: 55px;
    flex-basis: content;
}


#bio-image {
    padding-right: 3px;
    height: 100%;
    width: 100%;
    }
    
#quote {
    text-align: center;
    }
    
    
p {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    color: #887a7a;
    }
    


form {
    padding: 2%;
    width: 100%;
    color: #887a7a;
    font-family: rial, Helvetica, sans-serif;
}

.textarea.form-control {
    height: 250px;
}

.btn-primary {
    background-color: #ffafb8;
    color: #efe9e2;
    border: solid #ffafb8 1px;
    cursor: pointer;
    border-radius: 0px;
    padding: 1% 2% 1% 2%;
}

.col-auto.my-1 {
    padding-left: 0px;
}

 */