html {
  height:100%;
}

body {
  margin:0;
  font-family: 'Times New Roman', Times, serif;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #efe9e2 50%, #ffafb8	 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.bg-light /* Nav bar */{
  background-color: #efe9e2!important; 
  border-bottom: 1px solid #c0b8b8;
  color: #7a7373; 

}


h1 {
  font-family:'Times New Roman', Times, serif;
  color: #7a7373; 
}

h2 {
  color: #7a7373; 
}

h4 {
  color: #7a7373; 
}

#row1 {
  
  display: flex;
	justify-content: center;
	align-items: center;
}

.col-sm {
  overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
  padding-bottom: 15px;
}

 .card img {
	max-width: 300px;
	max-height: 200px;
  border: 3px solid #c0b8b8;
}

 .card-body {
	opacity: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10px;
	height: 90%;
	background: #fff;
	transition: all 0.5s ease;
}

a {
  text-decoration: none;
  color: #f36767; 
  font-size: 15px;
}
 .card-body p {
	transition: 0.5s ease;
	transform: scale(0, 1);

}
 .card-text {
	text-align: center;
	font-size: 15px;
	letter-spacing: 1px;
}
 .card:hover .card-body {
	opacity: 0.8;
	width: 90%;
	transition: 0.5s ease;
  align-self: center;
  vertical-align: unset;
  margin-top: 3%;
}
 .card:hover .card-body .card-text {
	transform: scale(1);
	transition: 0.5s ease;
}


.footer {
  background-color: #887a7a;
  color: #cccccc;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  border-top: solid #f36767 8px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

#bio-image {
  border-radius: 50%;
  padding-right: 3px;
  height: 100%;
  width: 100%;
}

#quote {
    text-align: center;
}
    
.linkimg {
  width: 50px;
  height:50px;
  padding-right: 7px;
  padding-bottom: 10px;
}

form {
  padding: 2%;
  width: 100%;
  color: #887a7a;
}

.textarea.form-control {
  height: 250px;
}

.btn-primary {
  background-color: #f36767;
  color: #efe9e2;
  border: solid #ffafb8 1px;
  cursor: pointer;
  border-radius: 0px;
  padding: 1% 2% 1% 2%;
}

.col-auto.my-1 {
  padding-left: 0px;
}
